engine/src/main/resources/theme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="theme" type="themeType"/>
  <xs:complexType name="styleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="key" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="themeType">
    <xs:sequence>
      <xs:element type="styleType" name="style" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="rectangle" use="required"/>
    <xs:attribute type="xs:string" name="text" use="required"/>
  </xs:complexType>
</xs:schema>
